NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyDrZfGjha4F6fkp_X2HbJguaPY1sPppi4=
NEXT_PUBLIC_TELEGRAM_API_TOKEN=
NEXT_PUBLIC_MT4_EA=
NEXT_PUBLIC_URL=
NEXT_PUBLIC_LANDING_URL=/


NEXT_PUBLIC_PADDLE_VENDOR=
NEXT_PUBLIC_PADDLE_API=
NEXT_PUBLIC_PADDLE_PLAN_1= 