NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_TELEGRAM_API_TOKEN=
NEXT_PUBLIC_MT4_EA=
NEXT_PUBLIC_URL=
NEXT_PUBLIC_LANDING_URL=/

NEXT_PUBLIC_CHARGEBEE_SITE=automatedtrader-test
NEXT_PUBLIC_CHARGEBEE_API_KEY=test_cusTIGFF5gp24L95Vkfjuu8uXyhJr2uYf
NEXT_PUBLIC_CHARGEBEE_API_KEY_B=

NEXT_PUBLIC_TEST_PROFILE_ID=