NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyDrZfGjha4F6fkp_X2HbJguaPY1sPppi4=
NEXT_PUBLIC_TELEGRAM_API_TOKEN=
NEXT_PUBLIC_MT4_EA=
NEXT_PUBLIC_URL=
NEXT_PUBLIC_LANDING_URL=/


NEXT_PUBLIC_PADDLE_VENDOR=
NEXT_PUBLIC_PADDLE_API=

NEXT_PUBLIC_PADDLE_PLAN_B=42859
NEXT_PUBLIC_PADDLE_PLAN_B_Y=42861
NEXT_PUBLIC_PADDLE_PLAN_S=42860
NEXT_PUBLIC_PADDLE_PLAN_S_Y=42862
NEXT_PUBLIC_PADDLE_PLAN_PRO=42863
NEXT_PUBLIC_PADDLE_PLAN_PRO_Y=42864
NEXT_PUBLIC_PADDLE_PLAN_PRIM=42865
NEXT_PUBLIC_PADDLE_PLAN_PRIM_Y=42866